@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

article {
    width: 80vw;
    max-width: 450px;
    min-height: 370px;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
    position: relative; /*For .readmore positioning*/
    margin: 20px; /*For space in between on desktop*/
} 

.readMore {
    color: rgb(0,0,254);
    position: absolute;
    bottom: 20px;
    right: 50px;
}

article > h2 {
    color: red;
}



@media (min-width: 1224px) {

    .blog {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }

    .content {
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .content h1 {
        margin-top: 10px;
    }

    

}

.tagbar {
    display: none;
}



/* TAGBAR STYLING

margin: 20px;

.tagbar {
    width: 70vw;
    margin-top: 30px;
    margin-bottom: 10px;     
    height: 30px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-family: 'DM Sans', sans-serif;

}
    
.tag {
    width: 120px;
    height: 35px;

    margin: 15px;
    text-align: center;

    border: none;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8); 


    font-size: 15px;
    font-weight: 500;

}

.tag:first-of-type {
    margin-left: 35px;
}

ON MOBILE
.filter {

    margin-left: auto;
    margin-right: auto;


    border-width: 30px;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    vertical-align: center;
        
}

.tag:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;

    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-right: 20px solid rgba(111, 168, 116, 0.8);
    border-bottom: 15px solid transparent;
}

ON WEB
.filter { 
    display: none;

*/







