/*
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
*/

@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

/* Content Styling */
.box {
    width: 120vh;
    height: 400px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.box>h1 {
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'DM Sans', sans-serif;
    text-align: left;
}

.box>p {
    color: #83818c;
    padding-left: 30px;
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

/* Tagbar Styling */
.tagbar {
    margin-top: 20px;

    width: 120vh;
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.tag {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    position: relative;
    border: 0px;

    background-color:rgba(111, 168, 116, 0.8);
    font-family: 'DM Sans', sans-serif;  

}

.tag:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;

    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-right: 20px solid rgba(111, 168, 116, 0.8);
    border-bottom: 15px solid transparent;
}
